span.mask-sufix {
    margin-left: 2px;
}
span.mask-sufix.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    /*align-items: center;*/
    /*padding: .375rem .75rem;*/
    margin-bottom: 0;
    /*font-size: 1rem;*/
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    /*background-color: #e9ecef;*/
    /*border: 1px solid #ced4da;*/
}
.input-group-append {
    margin-left: -1px;
}

.input-group-append, .input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}
.inline {
    display: inline-flex;
}